<h1>Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
 <br> <%= f.submit 'Update Book' %></br>
 <br><a class="show" href="/books/5">Show</a>
  "|
  "
  <a class="back" href="/books">Back</a></br>
<% end %>