
  <br><strong>Title:</strong>
  <%= @book.title %></br>
  <br><strong>Body:</strong>
  <%= @book.body %></br>
 <br><a class="show" href="/books/5">Show</a>
  "|
  "
  <a class="back" href="/books">Back</a></br>





